<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Screensaver</name>
        <version>1.0</version>
        <author>https://github.com/matopeto/</author>
        <id>matopeto.Screensaver</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
